<!-- wp:template-part {"slug":"header","theme":"hogarth","area":"header"} /-->

<!-- wp:cover {"dimRatio":90,"overlayColor":"base","isUserOverlayColor":true,"sizeSlug":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-cover">
  <span
    aria-hidden="true"
    class="wp-block-cover__background has-base-background-color has-background-dim-90 has-background-dim"
  ></span>
  <div class="wp-block-cover__inner-container">
    <!-- wp:site-title {"textAlign":"center","fontSize":"xx-large"} /-->

    <!-- wp:navigation {"ref":4,"overlayMenu":"never","style":{"typography":{"fontSize":"1.3rem"}},"layout":{"type":"flex","justifyContent":"center"}} /-->
  </div>
</div>
<!-- /wp:cover -->
